:root {
  --font-roboto: 'Roboto', sans-serif;
  --link-color: #1a0dab;
  --text-color: #111;
  --background-color: #ffffff;
  --toggle-bg: rgb(172, 193, 247);
  --toggle-fg: #646cff;
  --foreground-color: #003cff;
  --primary-color: #6495ED;
}

[theme="dark"] {
  --text-color: #f5f5f5;
  --background-color: #111;
  --toggle-bg: #333;
  --toggle-fg: #646cff;
}


